*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg2.jpg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vmin;
    color: white;
}

img {
    height: 200px;
    
}

